[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = ">=3.7.4"
cchardet = "*"
aiodns = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
coverage = "*"
build = "*"

[requires]
python_version = "3.9"
